
 #animacion {
    margin-left: 42.5%;
    margin-top: 1%;
}

#trianguloladoizq{
    border-radius: 5px, 5px, 5px, 5px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 10%;
    float: left;

}

.trianguloladoizq {
width: 0%; 
height: 0; 
box-shadow: 0px 0px 6px #5afaca, 0px 0px 12px #5afaca, 0px 0px 24px #5afaca;
border-left: 6px solid whitesmoke;
border-right: 8px solid whitesmoke;
border-top: 5px solid whitesmoke;
border-bottom: 4px solid whitesmoke;   /*investigando y descubriendo por mi cuenta animaciones
*/
}

.trianguloladodch {
width: 0; 
height: 0; 
box-shadow: 0px 0px 6px #5afaca, 0px 0px 12px #5afaca, 0px 0px 24px #5afaca;
border-right: 50px solid whitesmoke;
border-top: 25px solid transparent;
border-bottom: 25px solid transparent;
}

#trianguloladodch {
    /*border: 2px solid black;*/
    margin-left: 7%;     
    margin-right:6%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 10%;
    float: left;
    
}

 @keyframes animationizq1 {

    0% {
        border-left: 50px solid #5afaca;
        border-right: 8px solid #5afaca;
        border-top: 5px solid #5afaca;
        border-bottom: 4px solid #5afaca;
    }

    33% {
        border-left: 50px solid #5afaca;
        border-right: 8px solid #5afaca;
        border-top: 5px solid #5afaca;
        border-bottom: 4px solid #5afaca;
    }
    
    34% {
        border-left: 50px solid whitesmoke;
        border-right: 8px solid whitesmoke;
        border-top: 5px solid whitesmoke;
        border-bottom: 4px solid whitesmoke;
    }
    
    100% {
        border-left: 50px solid whitesmoke;
        border-right: 8px solid whitesmoke;
        border-top: 5px solid whitesmoke;
        border-bottom: 4px solid whitesmoke;
    
    }
}

    @keyframes animationizq2 {

        0% {
            border-left: 50px solid whitesmoke;
            border-right: 8px solid whitesmoke;
            border-top: 5px solid whitesmoke;
            border-bottom: 4px solid whitesmoke;
        }
    
        33% {
            border-left: 50px solid whitesmoke;
            border-right: 8px solid whitesmoke;
            border-top: 5px solid whitesmoke;
            border-bottom: 4px solid whitesmoke;
        }
        
        34% {
            border-left: 50px solid #5afaca;
            border-right: 8px solid #5afaca;
            border-top: 5px solid #5afaca;
            border-bottom: 4px solid #5afaca;  
        }

        66% {
            border-left: 50px solid #5afaca;
            border-right: 8px solid #5afaca;
            border-top: 5px solid #5afaca;
            border-bottom: 4px solid #5afaca;
        }
        67% {
            border-left: 50px solid whitesmoke;
            border-right: 8px solid whitesmoke;
            border-top: 5px solid whitesmoke;
            border-bottom: 4px solid whitesmoke; 
        }
        
        100% {
            border-left: 50px solid whitesmoke;
            border-right: 8px solid whitesmoke;
            border-top: 5px solid whitesmoke;
            border-bottom: 4px solid whitesmoke;
        
        }
    }
     @keyframes animationizq3 {

        0% {
            border-left: 50px solid whitesmoke;
            border-right: 8px solid whitesmoke;
            border-top: 5px solid whitesmoke;
            border-bottom: 4px solid whitesmoke;
        }
    
        33% {
            border-left: 50px solid whitesmoke;
            border-right: 8px solid whitesmoke;
            border-top: 5px solid whitesmoke;
            border-bottom: 4px solid whitesmoke;
        }
        
        34% {
            border-left: 50px solid whitesmoke;
            border-right: 8px solid whitesmoke;
            border-top: 5px solid whitesmoke;
            border-bottom: 4px solid whitesmoke;  
        }

        66% {
            border-left: 50px solid whitesmoke;
            border-right: 8px solid whitesmoke;
            border-top: 5px solid whitesmoke;
            border-bottom: 4px solid whitesmoke;
        }
        67% {
            border-left: 50px solid #5afaca;
            border-right: 8px solid #5afaca;
            border-top: 5px solid #5afaca;
            border-bottom: 4px solid #5afaca; 
        }
        
        100% {
            border-left: 50px solid #5afaca;
            border-right: 8px solid #5afaca;
            border-top: 5px solid #5afaca;
            border-bottom: 4px solid #5afaca;
        
        }
    }
 

    #trianguloladoizq1 {
        animation: animationizq1  1.5s linear infinite;
    }

    #trianguloladoizq2 {
        animation: animationizq2  1.5s linear  infinite;
    }
    #trianguloladoizq3 {
        animation: animationizq3  1.5s linear  infinite;
    }
    
/*****Siguiente Lado*****/

@keyframes animationdch1 {

    0% {
        border-left: 8px solid #5afaca;
        border-right: 50px solid #5afaca;
        border-top: 5px solid #5afaca;
        border-bottom: 4px solid #5afaca;
    }

    33% {
        border-left: 8px solid #5afaca;
        border-right: 50px solid #5afaca;
        border-top: 5px solid #5afaca;
        border-bottom: 4px solid #5afaca;
    }
    
    34% {
        border-left: 8px solid whitesmoke;
        border-right: 50px solid whitesmoke;
        border-top: 5px solid whitesmoke;
        border-bottom: 4px solid whitesmoke;
    }
    
    100% {
        border-left: 8px solid whitesmoke;
        border-right: 50px solid whitesmoke;
        border-top: 5px solid whitesmoke;
        border-bottom: 4px solid whitesmoke;
    
    }
}

    @keyframes animationdch2 {

        0% {
            border-left: 8px solid whitesmoke;
            border-right: 50px solid whitesmoke;
            border-top: 5px solid whitesmoke;
            border-bottom: 4px solid whitesmoke;
        }
    
        33% {
            border-left: 8px solid whitesmoke;
            border-right: 50px solid whitesmoke;
            border-top: 5px solid whitesmoke;
            border-bottom: 4px solid whitesmoke;
        }
        
        34% {
            border-left: 8px solid #5afaca;
            border-right: 50px solid #5afaca;
            border-top: 5px solid #5afaca;
            border-bottom: 4px solid #5afaca;  
        }

        66% {
            border-left: 8px solid #5afaca;
            border-right: 50px solid #5afaca;
            border-top: 5px solid #5afaca;
            border-bottom: 4px solid #5afaca;
        }
        67% {
            border-left: 8px solid whitesmoke;
            border-right: 50px solid whitesmoke;
            border-top: 5px solid whitesmoke;
            border-bottom: 4px solid whitesmoke; 
        }
        
        100% {
            border-left: 8px solid whitesmoke;
            border-right: 50px solid whitesmoke;
            border-top: 5px solid whitesmoke;
            border-bottom: 4px solid whitesmoke;
        
        }
    }
     @keyframes animationdch3 {

        0% {
            border-left: 8px solid whitesmoke;
            border-right: 50px solid whitesmoke;
            border-top: 5px solid whitesmoke;
            border-bottom: 4px solid whitesmoke;
        }
    
        33% {
            border-left: 8px solid whitesmoke;
            border-right: 50px solid whitesmoke;
            border-top: 5px solid whitesmoke;
            border-bottom: 4px solid whitesmoke;
        }
        
        34% {
            border-left: 8px solid whitesmoke;
            border-right: 50px solid whitesmoke;
            border-top: 5px solid whitesmoke;
            border-bottom: 4px solid whitesmoke;  
        }

        66% {
            border-left: 8px solid whitesmoke;
            border-right: 50px solid whitesmoke;
            border-top: 5px solid whitesmoke;
            border-bottom: 4px solid whitesmoke;
        }
        67% {
            border-left: 8px solid #5afaca;
            border-right: 50px solid #5afaca;
            border-top: 5px solid #5afaca;
            border-bottom: 4px solid #5afaca; 
        }
        
        100% {
            border-left: 8px solid #5afaca;
            border-right: 50px solid #5afaca;
            border-top: 5px solid #5afaca;
            border-bottom: 4px solid #5afaca;
        
        }
    }
 

    #trianguloladoizq1 {
        animation: animationizq1  1.0s linear infinite;
    }

    #trianguloladoizq2 {
        animation: animationizq2  1.0s linear  infinite;
    }
    #trianguloladoizq3 {
        animation: animationizq3  1.0s linear  infinite;
    }


    #trianguloladodch4 {
        animation: animationdch1  1.0s linear infinite reverse;
    }

    #trianguloladodch5 {
        animation: animationdch2  1.0s linear  infinite reverse;
    }
    #trianguloladodch6 {
        animation: animationdch3  1.0s linear  infinite reverse;
    }