body {
	background: rgb(0,43,54);
}
h1 {
	color: #FFC800;
	font-family: Mistral;
	font-size: 100px;
	font-weight: bold;
	text-align: center;
	text-shadow: 6px 2px 5px #5afaca;
}
h2 {
	color: #FFC800;
	margin-bottom: 2%;
}
#sinopsis {
	border: solid #5afaca 2px;
	box-shadow: 2px -1px 5px #5afaca , 2px -1px 10px #5afaca;
	color: whitesmoke;
	float: left;
	margin-bottom: 3%;
	margin-left: 4%;
	margin-top: 3%;
	padding: 2%;
	text-align: justify;
	width: 60%;
}
#slider ul {

    display: flex;
	animation: slider 40s infinite alternate linear;
	margin-left: 34%;
	padding: 0%;
	width: 400%;
}
#slider {
	border: 2px solid #5afaca;
	box-shadow: 2px -1px 5px #5afaca , 2px -1px 10px #5afaca;
	margin-left: 10%;
	margin-top: 3%;
	overflow: hidden;
	width: 80%;
}
#slider ul li {
	list-style: none;
	width: 100%;
}
#slider ul li img {
	height: 250px;
	width: aut;
}
#premios {
	border: solid #5afaca 2px;
	box-shadow: 2px -1px 5px #5afaca , 2px -1px 10px #5afaca;
	color: whitesmoke;
	float: right;
	margin-right: 4%;
	margin-top: 3%;
	padding: 2%;
	text-align: justify;
	width: 30%;
}
@keyframes slider {
	5% {
		margin-left: 34%;
	}
	25% {
		margin-left: 34%;
	}
	30% {
		margin-left: -66%;
	}
	50% {
		margin-left: -66%;
	}
	55% {
		margin-left: -166%;
	}
	75% {
		margin-left: -166%;
	}
	80% {
		margin-left: -266%;
	}
	100% {
		margin-left: -266%;
	}
}
