footer {
	background: #030512;
	color: #5afaca;
	float: left;
	height: 100px;
	text-align: center;
	width: 100%;
}
footer a img {
	display: inline-block;
	height: 50px;
}
footer span {
	display: block;
	margin-top: 5%;
}
footer li {
	display: inline-block;
	list-style: none;
	width: 23%;
}
footer li a img {
	height: 50px;
	width: auto;
}
footer img:hover {
	border-radius: 50%;
	box-shadow: 0px 0px 6px #5afaca, 0px 0px 12px #5afaca, 0px 0px 14px #5afaca;
}
#social {
	float: right;
	margin-top: 1.5%;
	width: 20%;
}
#git {
	float: left;
	height: auto;
	width: 20%;
	margin-left: 40%;
}
#git img {
	position: relative;
	top: 12px;
}
