
article>h2 {
	color: white;
	font-size: 60px;
	font-weight: bold;
	margin-bottom: 2%;
	text-align: center;
	text-shadow: 6px 2px 3px #5afaca;
}
audio {
	filter: invert();
	margin-left: 0%;
	opacity: 0.4;
	padding: 2%;
}
body {
	background: rgb(0,43,54);
}
h1 {
	color: #FFC800;
	font-size: 100px;
	font-weight: bold;
	text-align: center;
	text-shadow: 6px 2px 5px #5afaca;
}
li:hover .box1 {
	transform: rotate(3000deg);
}
li:hover .box2 {
	transform: rotate(3000deg);
}
li:hover .box3 {
	transform: rotate(3000deg);
}
li:hover .box4 {
	transform: rotate(3000deg);
}
p {
	color: white;
	display: inline-block;
	margin-left: 5%;
	width: 50%;
}

#soundtrack {
	float: left;
	margin-bottom: 2%;
	margin-left: 3%;
	width: 30%;
}
#soundtrack li {
	list-style: none;
	padding: 2%;
	width: 100%;
}

video {
	background: black;
	border: 3px solid #FFC800;
	box-shadow: 2px -1px 5px #FFC800 , 2px -1px 10px #FFC800, 2px -1px 20px black ,
    2px -1px 30px black, 2px -1px 35px rgb(92, 35, 21) , 2px -1px 40px rgb(87, 60, 11);
	filter: drop-shadow(24px 12px 16px black);
	float: right;
	margin-right: 3%;
	margin-top: 10%;
	width: 60%;
}
.box1 {
	background: #030512;
	border: solid 1px  #5afaca;
	border-radius: 50%;
	box-shadow: 2px -1px 5px #5afaca , 2px -1px 10px #5afaca;
	display: inline-block;
	height: 75px;
	margin-left: 5%;
	margin-top: 2%;
	transition: transform  6s;
	width: 75px;
}
.box2 {
	background: #030512;
	border: solid 1px  white;
	border-radius: 50%;
	box-shadow: 2px -1px 4px #5afaca , 2px -1px 8px #5afaca;
	height: 50px;
	margin-left: 17.5%;
	margin-top: 17.5%;
	transition: transform 5s;
	width: 50px;
}
.box3 {
	background: #030512;
	border: solid 1px  #5afaca;
	border-radius: 50%;
	box-shadow: 2px -1px 2px #5afaca , 2px -1px 4px #5afaca;
	height: 25px;
	margin-left: 25%;
	margin-top: 25%;
	transition: transform 4s;
	width: 25px;
}
.box4 {
	background: #030512;
	border: solid 1px  white;
	border-radius: 50%;
	box-shadow: 2px -1px 1px #5afaca , 2px -1px 2px #5afaca;
	height: 12.5px;
	margin-left: 25%;
	margin-top: 25%;
	transition: transform 3s;
	width: 12.5px;
}




